*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#all{
    width: 100vw;
    height: 100vw;
    background-color: rgb(211, 202, 202);
    display: flex;
    
    padding: 50px;
    flex-direction: column;
}
table{
    border-collapse:collapse;
}

#game{
    background-color: rgb(211, 202, 202);
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
#board{
    background-color: white;
    width: 675px;
    height: 675px;
    border: 2px solid black;
}
.line{
    width: 100%;
    height: 225px;
    background-color: green;
}
.cell{
    width: 225px;
    height: 100%;
}
.table-mini{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 2px solid black;
}
.line-mini{
    width: 100%;
    height: 75px;
}
.cell-mini{
    width: 75px;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    font-size: 40px;
}


#numpad {
    width: 550px;
    height: 900px;
    margin-left: 2.5%;
}

table, tr, td{
    user-select: none;
}

.numpad {
    text-align: center;
    font-size: 250%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: inset -5px -9px 8px rgba(45, 0, 45, 0.3), inset 9px 9px 9px rgba(255, 255, 255, 0.2);
    user-select: none;
    width: 90%;
    height: 90%;
    /*background-color: rgb(173, 255, 221);*/
    background-color: rgb(173, 255, 221);
    border-radius: 30%;
    border: 2px solid black;
}

#numpad-cell0, #numpad-cell10{
    width: 96.5%;
    height: 50%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-radius: 50px;
    box-shadow: inset -5px -5px 8px rgba(45, 0, 45, 0.3), inset 9px 5px 9px rgba(255, 255, 255, 0.2);
}



.numpad:hover {
    background-color: #c8ffdd;
    cursor: pointer;
    box-shadow: inset -5px -9px 8px rgba(45, 0, 45, 0.4), inset 9px 9px 9px rgba(255, 255, 255, 0.45);
}

    .numpad:active {
        background-color: rgba(0, 0, 0, 0.1);
        background-color: #94f1d2;
        cursor: pointer;
        box-shadow: inset 5px 9px 8px rgba(45, 0, 45, 0.4), inset -5px -9px 8px rgba(45, 0, 45, 0.4);
    }

#diff {
    user-select: none;
    display: flex;
    justify-content: center;
    font-size: 175%;
    margin-bottom: 2%;
}

#timer {
    user-select: none;
    display: flex;
    justify-content: center;
    font-size: 175%;
    margin-bottom: 2%;
}

select {
    margin-left: 0.35%;
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select:hover {
    cursor: pointer;
}

html{
    background-color: rgb(211, 202, 202);
}


@media only screen and (max-width: 900px) {
    body{
        overflow-y: hidden;
    }
    #board{
        width: calc(100vw - 50px);
        height: calc(100vw - 50px);    

    }
    .line{
        width: 100%;
        height: calc((100vw - 50px) / 3);
    }
    .cell{
        height: 100%;
        width: calc((100vw - 50px) / 3);
    }
    .table-mini{
        width: 100%;
        height: 100%;
    }
    .line-mini{
        height: calc((100vw - 50px) / 9);
        width: 100%;
    }
    .cell-mini{
        width: calc((100vw - 50px) / 9);
        height: 100%;
        font-size: 5.5vw;
    }
    
    #game{
        flex-direction: column;
    }
    
} 